<div style="text-align: center;">
<h1>Welcome Admin</h1>
<p><button (click)="logout()">
    Logout
</button></p>
<div>
    <h2>Product Description</h2>
<table>
  <tr>
    <th>Product Name</th>
    <th>Manufacture Date</th>
    <th>Exp Date</th>
    <th>Brand</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Dark Fantasy</td>
    <td>27/06/2019</td>
    <td>26/07/2020</td>
    <td>SunFeast</td>
    <td>{{40|currency:"INR":true}}</td>
  </tr>
  <tr>
    <td>Oreo</td>
    <td>25/11/2019</td>
    <td>07/07/2020</td>
    <td>Cadbury</td>
    <td>{{50|currency:"INR":true}}</td>
  </tr>
  <tr>
    <td>DiaryMilk</td>
    <td>27/06/2019</td>
    <td>26/07/2020</td>
    <td>Cadbury</td>
    <td>{{120|currency:"INR":true}}</td>
  </tr>
  <tr>
    <td>Little Hearts</td>
    <td>11/06/2019</td>
    <td>10/07/2020</td>
    <td>Britannia</td>
    <td>{{10|currency:"INR":true}}</td>
  </tr>
  <tr>
    <td>Milkybar</td>
    <td>23/06/2019</td>
    <td>26/07/2020</td>
    <td>Nestle</td>
    <td>{{110|currency:"INR":true}}</td>
  </tr>
  <tr>
    <td>Munch</td>
    <td>11/07/2019</td>
    <td>06/07/2020</td>
    <td>Nestle</td>
    <td>{{90|currency:"INR":true}}</td>
  </tr>
</table>

</div>
</div>
